body {
    background: #E5E5E5;   
}


/* invalid / valid */
input:invalid {
     color: red;
}

input:valid {
    color: green;
}


#container { 
    display: block;
    padding: 4px;
    width: 490px;
    margin: 50px auto;
    border: 4px solid #cccccc;
    border-radius: 20px;
    padding-bottom: 30px;

}
 

#mainbody {
    display: block;
    margin: 0px auto;
    width: 340px;
    padding:0px;
    border:0px solid #cccccc;
}

#footer {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      border: 0px solid black;
}


#logo {
    width: 185px; /* Width of new image */
    height: 146px; /* Height of new image */
    border:0px solid black;
    margin-top: -60px;
}


.submit-block{
    border: 0px solid black;
    text-align: center;
    margin-top: 10px;

}
